@addTagHelper "*, QuotationCryptocurrency"

@model PageNavigation

<div class="container">
    <div class="d-flex flex-row">
        @if (Model.HasPreviousPage)
        {
            <div class="page-item">
                <a asp-action="Page"
                   asp-route-pageData="@(Model.PageNumber - 1)" class="page-link">
                    Back
                </a>
            </div>

        }
        <page-link page-navigation="Model" page-action="Page"></page-link>
        @if (Model.HasNextPage)
        {

            <div class="page-item">
                <a asp-action="Page"
                   asp-route-pageData="@(Model.PageNumber + 1)" class="page-link">
                    Next
                </a>
            </div>
        }
    </div>
</div>
